<div id="navbar" class="structure">
  <nav class="navbar navbar-default navbar-inverse">
    <div class="container">
      <div class="navbar-header">
      {% if site.navbar.logo %}
        <!-- Brand and toggle get grouped for better mobile display -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" style="padding:0" href="{{ "/" | relative_url }}"><img src="{{ site.navbar.logo | relative_url }}" style='height:100%' alt="home" /></a>
      {% endif %}
      {% if site.navbar.home-icon %}
        <ul class="social-links nav navbar-nav navbar-right">
          <li>
            <a href="/" title=""><i class="fa fa-home fa-{{ "2x" | default: 'lg' }}"></i>{{ include.separator  }}</a>
          </li>
        </ul>
      {% endif %}
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      {% if site.navbar.menu %}
      <!-- Collect the nav links, forms, and other content for toggling -->
        <ul class="nav navbar-nav">
        {% for item in site.navbar.menu %}
          <li role="presentation">
            <a href="{{ item[1] | relative_url }}" aria-controls="messages">{{ item[0] }}</a>
          </li>
        {% endfor %}
        </ul>
      {% endif %}
      {% if site.navbar.social %}
        {% comment %}
        social_sites_db = "bitbucket digg dropbox facebook flickr foursquare github gitlab google google-plus instagram jsfiddle linkedin pinterest reddit skype soundcloud spotify stack-exchange stack-overflow steam stumbleupon tumblr twitter vimeo-square vine windows wordpress yahoo youtube" | split:" "
        {% endcomment %}
        <ul class="social-links nav navbar-nav navbar-right text-right">
        {% for social in site.navbar.social %}
          {% assign name = social[0]  %}
          {% assign link = social[1]  %}
          <li>
            <a href="{{ link }}" title="{{ name }}">
              <i class="fa fa-{{ name }} fa-{{ "2x" | default: 'lg' }} {% if page.labels %}fa-x-label{% endif -%}"></i>{{ include.separator  }}
            </a>
          </li>
        {% endfor -%}
        </ul>
      {% endif %}
      </div>
    </div>
  </nav>
</div>
