---
---
<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.title }}</title>
    <meta charset="utf-8" />
    <link rel="icon" href="data:;" />
    <script src="{{ "node_modules/jquery/dist/jquery.min.js" | relative_url }}"></script>
    <script src="{{ "node_modules/bootstrap/dist/js/bootstrap.min.js" | relative_url }}"></script>
    <link rel="stylesheet" href="{{ "node_modules/bootstrap/dist/css/bootstrap.css"  | relative_url }}"/>
    <link rel="stylesheet" href="{{ "node_modules/font-awesome/css/font-awesome.min.css" | relative_url }}"/>
    <link rel="stylesheet" href="{{ "assets/css/font-awesome-social-name-before.css" | relative_url }}"/>
    <link rel="stylesheet" href="{{ "assets/css/style.css" | relative_url }}"/>
    {% include google-analytics.js %}
    {% for i in page.scripts %}
    <script src="{{ i | relative_url }}"></script>
    {% endfor %}
    {% for i in page.css %}
    <link rel="stylesheet" href="{{ i | relative_url }}" />
    {% endfor %}
  </head>
  {{ content }}
</html>
